@use "../utilities/variables.scss";

.info-contacto {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: variables.$primary-color;
    margin: 50px;
    padding: 50px 0px;
}